<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>SVG Manip Testing</title>
  <link rel="stylesheet" href="stylesheets/test_path.css">
</head>
<body>
  <main>

    <div class="container">

      <svg xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" width="210mm" height="297mm" viewBox="0 0 744.09448819 1052.3622047" id="svg" version="1.1" inkscape:version="0.91 r13725" sodipodi:docname="test2.svg">
        <defs id="defs4">
          <pattern id="patterns-by-danny-ivan.jpg" patternUnits="userSpaceOnUse" height="50" width="50">
            <image x="0" y="0" height="50" width="50" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="http://www.crafthubs.com/thumbs/patterns-by-danny-ivan.jpg"></image>
          </pattern>
        <pattern id="44250.jpg" patternunits="userSpaceOnUse" height="50" width="50"><image x="0" y="0" height="50" width="50" xlink:href="http://www.housefabric.com/assets/ProductDetail/44250.jpg"></image></pattern></defs>
        <sodipodi:namedview id="base" pagecolor="#ffffff" bordercolor="#666666" borderopacity="1.0" inkscape:pageopacity="0.0" inkscape:pageshadow="2" inkscape:zoom="0.35" inkscape:cx="-262.14286" inkscape:cy="520" inkscape:document-units="px" inkscape:current-layer="layer1" showgrid="false" inkscape:window-width="1440" inkscape:window-height="852" inkscape:window-x="0" inkscape:window-y="0" inkscape:window-maximized="1"></sodipodi:namedview>
        <metadata id="metadata7">
          <rdf:rdf>
            <cc:work rdf:about="">
              <dc:format>image/svg+xml</dc:format>
              <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage"></dc:type>
              <dc:title></dc:title>
            </cc:work>
          </rdf:rdf>
        </metadata>
        <g inkscape:label="Layer 1" inkscape:groupmode="layer" id="layer1">
          <g id="group1">
            <path id="rect4144" d="m 273.35267,512.85771 266.15183,0 0,269.00897 -266.15183,0 z" style="fill: rgb(255, 255, 255); fill-rule: evenodd; stroke: rgb(0, 0, 0); stroke-width: 0.99102437px; stroke-linecap: butt; stroke-linejoin: miter; stroke-opacity: 1;" inkscape:connector-curvature="0"></path>
          </g>
          <g id="group2">
            <path id="rect4138" d="m 270.49817,782.86035 269.00369,0 0,269.00365 -269.00369,0 z" style="fill:url('#patterns-by-danny-ivan.jpg');fill-rule:evenodd;stroke:#000000;stroke-width:0.99630994px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" inkscape:connector-curvature="0"></path>
            <path id="rect4142" d="m 0.49815497,512.86035 269.00369503,0 0,269.00369 -269.00369503,0 z" style="fill: rgb(255, 255, 255); fill-rule: evenodd; stroke: rgb(0, 0, 0); stroke-width: 0.99630994px; stroke-linecap: butt; stroke-linejoin: miter; stroke-opacity: 1;" inkscape:connector-curvature="0"></path>
            <path id="rect4146" d="m 540.49817,512.86035 269.00369,0 0,269.00369 -269.00369,0 z" style="fill: rgb(255, 255, 255); fill-rule: evenodd; stroke: rgb(0, 0, 0); stroke-width: 0.99630994px; stroke-linecap: butt; stroke-linejoin: miter; stroke-opacity: 1;" inkscape:connector-curvature="0"></path>
            <path id="rect4150" d="m 270.49817,242.86035 269.00369,0 0,269.00369 -269.00369,0 z" style="fill: rgb(255, 255, 255); fill-rule: evenodd; stroke: rgb(0, 0, 0); stroke-width: 0.99630994px; stroke-linecap: butt; stroke-linejoin: miter; stroke-opacity: 1;" inkscape:connector-curvature="0"></path>
          </g>
          <g id="group3">
            <path id="rect3336" d="m 0.49815497,782.86035 269.00369503,0 0,269.00365 -269.00369503,0 z" style="fill: url(#44250.jpg); fill-rule: evenodd; stroke: rgb(0, 0, 0); stroke-width: 0.99630994px; stroke-linecap: butt; stroke-linejoin: miter; stroke-opacity: 1;" inkscape:connector-curvature="0"></path>
            <path id="rect4140" d="m 540.49817,782.86035 269.00369,0 0,269.00365 -269.00369,0 z" style="fill: rgb(255, 255, 255); fill-rule: evenodd; stroke: rgb(0, 0, 0); stroke-width: 0.99630994px; stroke-linecap: butt; stroke-linejoin: miter; stroke-opacity: 1;" inkscape:connector-curvature="0"></path>
            <path id="rect4148" d="m 0.49815497,242.86035 269.00369503,0 0,269.00369 -269.00369503,0 z" style="fill: rgb(255, 255, 255); fill-rule: evenodd; stroke: rgb(0, 0, 0); stroke-width: 0.99630994px; stroke-linecap: butt; stroke-linejoin: miter; stroke-opacity: 1;" inkscape:connector-curvature="0"></path>
            <path id="rect4152" d="m 540.49817,242.86035 269.00369,0 0,269.00369 -269.00369,0 z" style="fill: rgb(255, 255, 255); fill-rule: evenodd; stroke: rgb(0, 0, 0); stroke-width: 0.99630994px; stroke-linecap: butt; stroke-linejoin: miter; stroke-opacity: 1;" inkscape:connector-curvature="0"></path>
          </g>
        </g>
      </svg>

    </div>

    <!-- <% @surveys.each do |survey| %>
      <ul class="survey-list">
        <li class="survey-item">
          <span class="survey-item__name"><%= survey.name %></span>
          <span class="survey-item__author_id"><% survey.author_id %></span>
          <span class="survey-item__description"><%= survey.description %></span>
          <span class="survey-item__show"><%= link_to 'Show', survey %></span>
          <span class="survey-item__edit"><%= link_to 'Edit', edit_survey_path(survey) %></span>
          <span class="survey-item__check"><%= link_to 'Check Answers', takers_path(:survey_id => survey.id) %></span>
          <span class="survey-item__destroy"><%= link_to 'Destroy', survey, method: :delete, data: { confirm: 'Are you sure?' } %></span>
        </li>
      </ul>
    <% end %> -->



    <div>
      <ul class="palette">
        <!-- <li class="pattern-preview">
          <img src="http://www.crafthubs.com/thumbs/patterns-by-danny-ivan.jpg">
        </li>
        <li class="pattern-preview">
          <img src="http://www.crafthubs.com/thumbs/fun-with-shapes-and-patterns.jpg">
        </li>
        <li class="pattern-preview">
          <img src="http://www.housefabric.com/assets/ProductDetail/44250.jpg">
        </li>
        <li class="pattern-preview">
          <img src="http://88b2a2536d124416a1d2-f6158b2095c19f83209c2aed9717dc2d.r1.cf2.rackcdn.com/blog/wp-content/uploads/2013/08/Retro-Fabric-Pattern-by-Filter-Forge.jpg">
        </li> -->
      </ul>

    </div>

  </main>

  <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
  <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/snap.svg/0.3.0/snap.svg-min.js"></script>
  <script src="javascripts/test_path.js"></script>

</body>
</html>
