/*------------------------------------*\
    #COLORS
\*------------------------------------*/

$bg-color: #feffe2;
$fg-color: #d1c790;
$input-border-color: #735349;
$alt-bg-color: #c2c1b8;

$bold-color: #96c4c5;
$alt-bold-color: #e89837;
$button-color: #f6cb3f;

$accent-color: #985936;
$accent-color-dark: #3c3322;
